@use "sass:map";

$breakpoint-1: 768px;
$breakpoint-2: 375px;
$breakpoints: (
  // 768px未満（カンプのSP表示）
  "sp": "screen and not (min-width: #{$breakpoint-1})",
  // 768px以上（カンプのPC表示）
  "pc": "screen and (min-width: #{$breakpoint-1})",
  // 376px以上、768px未満（SP幅とTAB幅の間。カンプのSP表示だが、表示が崩れる場合に使用）
  "sp-tab":
    "screen and (min-width: #{$breakpoint-2 + 1px}) and (max-width: #{$breakpoint-1 - 1px})"
);

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}
