@use "breakpoints";
@use "color";

/* 改行用 */
.inline-block {
  display: inline-block;
}

/* PC、SP非表示用 */
.hidden-pc {
  @include breakpoints.mq("pc") {
    display: none;
  }
}
.hidden-sp {
  @include breakpoints.mq("sp") {
    display: none;
  }
}

/* セクション間のpadding */
.inter-section {
  padding-top: 80px;
  padding-bottom: 80px;

  @include breakpoints.mq("sp") {
    // padding-top: calc(48px - 1px); // ピクセルパーフェクトの為
    // padding-bottom: 48px;
    padding-top: calc(58px - 1px); // ピクセルパーフェクトの為
    padding-bottom: 38px;
  }
}

/* 共通インナー */
$pc-inner: 40px;
$sp-inner: 15px;
.inner {
  padding-right: $pc-inner;
  padding-left: $pc-inner;

  @include breakpoints.mq("sp") {
    padding-right: $sp-inner;
    padding-left: $sp-inner;
  }
}

/* 見出し */
.heading {
  display: block;
  position: relative;
  padding-bottom: 24px; // 疑似要素分のスペースを空ける
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  text-align: center;

  @include breakpoints.mq("sp") {
    padding-bottom: 28px; // 疑似要素分のスペースを空ける
    font-size: 30px;
  }

  // 見出し下の下線
  &::after {
    content: "";
    position: absolute;
    background-color: color.$color-line-blue;
    width: 60px;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}

/* ボタン */
.button {
  display: inline-block;
  padding: calc(12px - 1px) calc(4px - 1px);
  text-align: center;
  width: calc(150px + 3px * 2);
  height: calc(26px + 11px * 2);
  border: 1px solid color.$color-border-blue;
  background-color: color.$color-bg-white;
  color: color.$color-font-blue;
  font-size: 14px;
  letter-spacing: 0.02px;

  transition: color 0.3s, background-color 0.3s;

  &:hover,
  &:focus {
    color: color.$color-font-white;
    background-color: color.$color-button-bg;
    outline: none;
  }
}
