@use "breakpoints";
@use "color";
@use "common";
@use "animation";

//////////
/* 全体 */
//////////
// id指定して詳細度をあげる
body {
  background-color: color.$color-bg-main;
  color: color.$color-font-black;
  font-family: "Noto Serif JP", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.7;

  &.is-fixed {
    overflow: hidden;
  }
}

/////////////
/* ヘッダー */
/////////////
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: color.$color-bg-header;
  padding-top: 22px;
  padding-bottom: 21px;

  @include breakpoints.mq("sp") {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

.header__inner {
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.6;
  }

  a {
    display: block;
    img {
      display: block;
      width: 120px;
      height: 22px;
    }
  }
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  gap: calc(46px + 0.5px); // ピクセルパーフェクトの為

  @include breakpoints.mq("sp") {
    display: none;
  }
}

.header__nav {
  transition: color 0.3s;

  &:hover {
    color: color.$color-main;
  }
}

// ハンバーガーアイコン
.header__icon {
  display: none;

  @include breakpoints.mq("sp") {
    position: relative;
    display: block;
    width: 30px;
    height: 18px;

    &.is-checked {
      .header__icon-bar:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
      .header__icon-bar:nth-child(2) {
        display: none;
      }
      .header__icon-bar:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}

// ハンバーガーアイコンの線1本分
.header__icon-bar {
  position: absolute;
  right: 0;
  // 線のサイズ、色
  width: 30px;
  height: 2px;
  background-color: color.$color-line-blue;

  transition: top 0.3s, transform 0.3s;

  // 上の線
  &:nth-child(1) {
    top: 0;
  }

  // 真ん中の線
  &:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  // 下の線
  &:nth-child(3) {
    bottom: 0;
  }
}

/////////////////////
/* ドロワーメニュー */
/////////////////////
.drawer {
  position: fixed;
  z-index: 100;
  width: 270px;
  height: 100%;
  right: 0;
  background-color: color.$color-bg-blue;

  transform: translateX(100%);
  transition: transform 0.3s;

  &.is-checked {
    transform: translateX(0);
  }
}

.drawer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: right;
  padding-top: 40px;
  padding-right: 15px;
}

.drawer__nav {
  color: color.$color-font-white;
  font-size: 18px;
}

/////////////////////
/* ファーストビュー */
/////////////////////
.fv {
  padding-bottom: 80px;

  @include breakpoints.mq("sp") {
    padding-bottom: 38px;
  }
}

.fv__inner {
}

.fv__content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.fv__image {
  // ファーストビュー画像は右寄せ
  display: block;
  text-align: right;

  @include breakpoints.mq("sp") {
    text-align: center;
  }

  img {
    width: 990px;

    @include breakpoints.mq("sp") {
      width: 345px;
    }
  }
}

.fv__texts {
  // ファーストビューテキストは絶対配置で画像に重ねて表示
  position: absolute;
  left: 0;
  padding-top: clamp(
    2.5rem,
    -1.25rem + 7.81vw,
    5rem
  ); // 最小40px、最大80px（画面幅768px～1280px）
  padding-bottom: clamp(2.5rem, -1.25rem + 7.81vw, 5rem); // padding-topと同様

  padding-right: clamp(
    1.25rem,
    -0.625rem + 3.91vw,
    2.5rem
  ); // 最小20px、最大40px（画面幅768px～1280px）

  background-color: color.$color-bg-white;

  // 上下中央表示
  top: 50%;
  transform: translateY(-50%);

  @include breakpoints.mq("sp") {
    // 画像とテキストを縦並びにする
    position: relative;
    transform: translateY(0);
    padding: 0;
    margin-top: 30px;
  }

  @include breakpoints.mq("sp-tab") {
    text-align: center;
  }
}

.fv__text-1 {
  font-size: 26px;
  font-weight: 600;
}

.fv__text-2 {
  margin-top: 16px;
}

/////////////
/* Concept */
/////////////
.concept {
}

.concept__inner {
}

.concept__heading {
}

.concept__content {
  // PCの場合は横並び
  display: flex;
  flex-direction: row;
  gap: clamp(
    1.25rem,
    -4.375rem + 11.72vw,
    5rem
  ); // 最小20px、最大80px（768px以上 1280px以下）
  margin-top: calc(64px + 1px); // ピクセルパーフェクトの為

  @include breakpoints.mq("sp") {
    // スマホの場合は縦並び
    flex-direction: column;
    margin-top: 46px;
    gap: 34px;
  }
}

.concept__image {
  margin: 0 auto;
  width: calc(600 / 1200 * 100%);
  flex-shrink: 0; // 幅固定。テキスト部分を可変にする

  @include breakpoints.mq("sp") {
    // 画面幅375px以下対応の為
    width: auto;
    max-width: 345px;
  }

  img {
  }
}

.concept__texts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;

  @include breakpoints.mq("sp") {
    gap: 22px;
  }
}

.concept__text-1 {
  font-size: 20px;
  font-weight: 600;

  @include breakpoints.mq("sp-tab") {
    text-align: center;
  }
}

.concept__text-2 {
}

/////////////
/* Feature */
/////////////
.feature {
}

.feature__inner {
}

.feature__heading {
}

.feature__cards {
  display: flex;
  flex-direction: row;
  gap: clamp(
    0.938rem,
    -6.094rem + 14.65vw,
    5.625rem
  ); // 最小15px、最大90px（画面幅768px～1280px）
  justify-content: center;
  margin-top: 64px;

  @include breakpoints.mq("sp") {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-top: 46px;
  }
}

.feature__card {
  @include breakpoints.mq("sp") {
    width: auto;
    max-width: 345px;
  }
}

.feature-card {
  box-shadow: 3px 3px 15px 0px rgba(96, 96, 96, 0.16);
}

.feature-card__image {
  img {
    width: 340px;

    @include breakpoints.mq("sp") {
      width: 100%;
    }
  }
}

.feature-card__text {
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: center;
  font-weight: 600;
}

/////////////
/* Question */
/////////////
.question {
}

.question__inner {
}

.question__content {
  position: relative;
}

.question__image {
  img {
    filter: brightness(
      85%
    ); // カンプと比べて画像の上の文字が見にくい為、暗くして調整

    @include breakpoints.mq("sp") {
      // 横幅は一定。縦にはみ出した部分は見切れるようにする
      width: 100%;
      height: 490px;
      object-fit: cover;
      object-position: top;
    }
  }
}

.question__texts {
  position: absolute;
  top: clamp(
    2.5rem,
    -5.281rem + 16.21vw,
    7.688rem
  ); // 最小40px、最大123px（画面幅768px～1280px）
  padding-right: common.$pc-inner;
  padding-left: common.$pc-inner;

  @include breakpoints.mq("sp") {
    top: clamp(
      8.75rem,
      -5.795rem + 72.73vw,
      11.25rem
    ); // 最小140px、最大180px（画面幅320px～375px）
    padding-right: common.$sp-inner;
    padding-left: common.$sp-inner;
  }
}

.question__text-1 {
  color: color.$color-font-white;
  font-size: 22px;
  font-weight: 600;

  @include breakpoints.mq("sp") {
    font-size: 20px;
  }
}

.question__text-2 {
  margin-top: 24px;
  color: color.$color-font-white;
  font-weight: 600;

  @include breakpoints.mq("sp") {
    font-size: 14px;
  }
}

/////////////
/* Products */
/////////////
.products {
}

.products__inner {
}

.products__heading {
}

.products__cards {
  display: flex;
  flex-direction: row;
  gap: clamp(
    0.938rem,
    -5.156rem + 12.7vw,
    5rem
  ); // 最小15px、最大80px（画面幅768px～1280px）
  justify-content: center;
  margin-top: 64px;

  @include breakpoints.mq("sp") {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-top: 46px;
  }
}

.products__card {
}

.products-card {
  width: 260px;

  @include breakpoints.mq("sp") {
    width: 263px;
  }
}

.products-card__image {
  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  img {
    transition: transform 0.3s;
  }
}

.products-card__text {
  margin-top: calc(18px + 2px); // ピクセルパーフェクトの為
  font-size: 14px;

  @include breakpoints.mq("sp") {
    margin-top: calc(20px + 1px); // ピクセルパーフェクトの為
  }
}

.products-card__price {
  margin-top: 10px;
  color: color.$color-font-gray-1;
  font-size: 14px;
}

.products__button {
  margin-top: 44px;
  text-align: center;

  @include breakpoints.mq("sp") {
    margin-top: 42px;
  }
}

/////////////
/* News */
/////////////
.news {
}

.news__inner {
}

.news__heading {
}

.news__cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 64px;

  @include breakpoints.mq("sp") {
    gap: 27px;
    margin-top: 46px;
  }
}

.news__card {
}

.news-card {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 1040px;
  margin: 0 auto;
  padding-bottom: 24px; // 疑似要素の為のスペース空ける

  @include breakpoints.mq("sp") {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    padding-bottom: calc(28px - 2px); // ピクセルパーフェクトの為
  }

  // カード下にある下線
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    background-color: color.$color-card-line;
    width: 100%;
    height: 1px;
  }
}

.news-card__image {
  width: 260px;
  flex-shrink: 0;

  img {
    transition: transform 0.3s;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  @include breakpoints.mq("sp") {
    width: 100%;
  }
}

.news-card__texts {
  padding-right: 4px;
}

.news-card__date {
  font-size: 14px;
  height: 24px;
}

.news-card__title {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;

  @include breakpoints.mq("sp") {
    font-size: 16px;
    margin-top: 10px;
  }
}

.news-card__description {
  margin-top: 10px;
  color: color.$color-font-gray-2;
  font-size: 14px;

  @include breakpoints.mq("sp") {
    margin-top: 14px;
  }
}

.news__button {
  margin-top: 44px;
  text-align: center;

  @include breakpoints.mq("sp") {
    margin-top: 42px;
  }
}

/////////////
/* Motto */
/////////////
.motto {
}

.motto__inner {
}

.motto__content {
  display: flex;
  flex-direction: row;
  gap: clamp(
    1.25rem,
    -4.375rem + 11.72vw,
    5rem
  ); // 最小20px、最大80px（768px以上 1280px以下）
  align-items: center;

  @include breakpoints.mq("sp") {
    flex-direction: column-reverse;
    gap: calc(32px + 3px); // ピクセルパーフェクトの為
  }
}

.motto__texts {
}

.motto__text-1 {
  font-size: clamp(
    1.5rem,
    1.125rem + 0.78vw,
    1.75rem
  ); // 最小24px、最大28px（768px以上 1280px以下）レスポンシブ字に改行が入らないようにする為
  font-weight: 600;

  @include breakpoints.mq("sp") {
    // 画像の左端とテキストの始点を合わせる
    margin: 0 auto;
    width: auto;
    max-width: 345px;

    font-size: 20px;
  }
}

.motto__text-2 {
  margin-top: 36px;

  @include breakpoints.mq("sp") {
    margin-top: 22px;
    font-size: 14px;
  }
}

.motto__image {
  width: calc(600 / 1200 * 100%);
  flex-shrink: 0; // 幅固定。テキスト部分を可変にする

  @include breakpoints.mq("sp") {
    // 画面幅375px以下対応の為
    width: auto;
    max-width: 345px;
  }

  img {
  }
}

/////////////
/* Contact */
/////////////
.contact {
  margin-top: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
  background: url(../img/contact_bg.png) no-repeat center center / cover;

  @include breakpoints.mq("sp") {
    margin-top: 58px;
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.contact__inner {
}

.contact__heading {
  color: color.$color-font-blue;
}

.contact__attention {
  margin-top: 64px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;

  @include breakpoints.mq("sp") {
    margin-top: 46px;
  }

  span {
    color: color.$color-require;
  }
}

.contact__form {
  margin-top: 19px;

  @include breakpoints.mq("sp") {
    margin-top: 28px;
    padding-right: common.$sp-inner;
    padding-left: common.$sp-inner;
  }
}

.contact__fields {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 510px;
  margin: 0 auto;

  @include breakpoints.mq("sp") {
    width: auto;
  }
}

.contact__field {
}

.form-field {
  // 見出しとインプット項目を横並びにする
  display: flex;
  flex-direction: row;
  align-items: start; // 上寄せ
  gap: 10px;

  @include breakpoints.mq("sp") {
    flex-direction: column;
    gap: 3px;
  }
}

// form項目の見出し
.form-field__head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 4px;
  width: 180px;
  flex-shrink: 0; // 見出しの大きさ固定
  background-color: color.$color-button-bg;
  opacity: 0.7;
  clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);

  @include breakpoints.mq("sp") {
    width: auto;
    padding-top: 4px;
    padding-right: 16px;
    padding-left: 16px;
    clip-path: none;
  }
}

// form項目の見出しの文字
.form-field__label {
  color: color.$color-font-white;
  font-size: 18px;
  font-weight: 600;

  @include breakpoints.mq("sp") {
    font-size: 14px;
  }
}

// form項目の見出しの必須表示
.form-field__require {
  margin-left: 4px;
  color: #e7728e;
  font-size: 12px;
  font-weight: 600;

  @include breakpoints.mq("sp") {
    font-size: 10px;
  }
}

// form項目の入力部分
.form-field__item {
  flex-grow: 1;

  @include breakpoints.mq("sp") {
    width: 100%; // 入力項目を横幅いっぱいにする
  }
}

// テキストのinput項目（お名前、メールアドレス）
.form-field__text {
  width: 100%;
  height: 40px;
  background: color.$color-bg-white;
  box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
  border: none;

  &:hover,
  &:focus {
    border: 1px solid color.$color-main;
    outline: none; // 既存の枠線を非表示
  }
}

// ラジオボタンのinput項目
.form-field__radios {
  display: flex;
  flex-direction: row;
  gap: 0;
}
.form-field__radio {
}
.form-radio {
}
.form-radio__input {
  // デフォルトのラジオボタン非表示
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  // チェックされたら色反転
  &:checked + .form-radio__text {
    background-color: color.$color-button-bg;
    color: color.$color-font-white;
  }

  &:hover,
  &:focus {
    + .form-radio__text {
      border: 1px solid color.$color-main;
    }
  }
}
.form-radio__text {
  display: inline-block; // テキスト自体がボタンになる為
  border: 1px solid color.$color-radio-border;
  background-color: color.$color-bg-white;
  color: color.$color-font-blue;
  padding: calc(7px - 1px) calc(24px - 1px) calc(6px - 1px);
}

// テキストエリアのinput項目
.form-field__textarea {
  // resize: none; // エリアの拡大縮小禁止にしたかったけど、カンプにはできるように書いてあるので当てない
  width: 100%;
  height: 122px;
  background: color.$color-bg-white;
  box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
  border: none;

  &:hover,
  &:focus {
    border: 1px solid color.$color-main;
    outline: none; // 既存の枠線を非表示
  }
}

// プライバリーポリシー
.contact__privacy {
  margin-top: 32px;
  text-align: center;
  @include breakpoints.mq("sp") {
    margin-top: 28px;
  }
}
.form-checkbox {
}
.form-checkbox__input {
  // デフォルトのチェックボックス非表示
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  &:hover,
  &:focus {
    + .form-checkbox__text::before {
      border: 1px solid color.$color-border-blue-deep;
    }
  }
}
.form-checkbox__input:checked + .form-checkbox__text::after {
  opacity: 1;
}
.form-checkbox__text {
  position: relative;
  padding-left: 30px;
  a {
    color: color.$color-font-blue;
    text-decoration-line: underline;
  }
}
.form-checkbox__text::before,
.form-checkbox__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.form-checkbox__text::before {
  // チェックボックスの枠
  width: 22px;
  height: 22px;
  border-radius: 1px;
  border: 1px solid color.$color-border-blue;
  background-color: color.$color-bg-white;
}
.form-checkbox__text::after {
  // チェック時のアイコン
  width: 19.414px;
  height: 14.621px;
  left: 1px;
  margin-top: 0.2px;
  background: url(../img/check-icon.png) no-repeat center center/contain;
  opacity: 0;
}

// 「送信する」ボタン
.contact__button {
  margin-top: 44px;
  text-align: center;

  @include breakpoints.mq("sp") {
    margin-top: 23px;
  }
}

/////////////
/* フッター */
/////////////
.footer {
  padding-top: calc(40px - 5px); // ピクセルパーフェクトの為
  padding-bottom: 14px;

  @include breakpoints.mq("sp") {
    padding-bottom: 10px;
  }
}

.footer__inner {
}

.footer__content {
  text-align: center;
}

.footer__logo {
  &:hover {
    opacity: 0.6;
  }

  img {
    width: 120px;
  }
}

.footer__links {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  margin-top: 22px;

  @include breakpoints.mq("sp") {
    flex-direction: column;
    gap: 12px;
  }
}

.footer__link {
  font-size: 12px;
  &:hover {
    opacity: 0.6;
  }
}

.footer__sns {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  margin-top: calc(20px - 6px); // ピクセルパーフェクトの為

  @include breakpoints.mq("sp") {
    margin-top: calc(18px - 6px); // ピクセルパーフェクトの為
  }
}

.footer__icon {
  &:hover {
    opacity: 0.6;
  }
  img {
    height: 22.2px;
  }
}

.footer__reference {
  // display: none;
  color: color.$color-font-gray-2;
  font-size: 12px;
  a {
    text-decoration: underline;
  }
}

.footer__copyright {
  display: inline-block;
  margin-top: 28px;
  color: color.$color-font-gray-2;
  font-size: 12px;

  @include breakpoints.mq("sp") {
    margin-top: 24px;
  }
}
